BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
ColumnLimit: 120
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
SortIncludes: Never
IncludeBlocks: Preserve
